body {
  width: 99%;
  height: 900px;
  background-color: #fc6;
  background-image: url("../images/Krusty_Burger.png");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.customerName {
  color: black;
}

.right {
  float: right;
  right: 25px;
}

#top-bar {
  margin-top: 28px;
  color: white;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  height: 400px;
  width: 400px;
}


.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}


